* {
    box-sizing: border-box;
}

body {
    background-color: #282E33;
}
.col-12 {
    padding: 0;
}
.printer,.search,.addProduct,.btnContainer {
    display: flex;
    justify-content: center;
}
.search {
    padding: 3% 0 3% 0;
}
.addProduct {
    padding-bottom: 3%;
}
.modal-content {
   background-color: #1E1E1E;
}
#staticBackdrop .modal-content {
    background-color: #ffffff;
}
.modal-content input {
    margin-top: 3%;  
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
    
}
#textfieldID {
    color: crimson;
}
#textfieldDesc {
    outline: none;
    padding-left: 15px;
    margin-top: 3%;  
    margin-left: 5%;
    width: 90%;
    border-radius: 5px;
    height: 300px;
    font-size: 20px;
    margin-bottom: 3%;
}
.uploadPhoto {
    margin-top: 3%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
}
#uploadPhotoBtn_1 {
    display: none;
}
.btnContainer {
    margin-bottom: 3%;
}
#typeProductSelect option {
    background-color: #1B1C1D;
}
.bd-example-modal-xl.slider .modal-content {
    background-color: #ffffff;
}
.bd-example-modal-xl.slider .modal-header {
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.582);
}
.bd-example-modal-xl.slider .modal-body {
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.582);
}
.bd-example-modal-xl.slider .modal-body .slider-photos {
    width: 65%;
}

.bd-example-modal-xl.slider .modal-body .slider-photos .item img {
    height: 500px;
    width: auto;
    margin: auto;
}

.bd-example-modal-xl.slider .modal-body .slider-desc {
   padding: 15px;
   width: 30%;
}

.bd-example-modal-xl.slider .modal-footer {
    display: flex;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .ui.action.input {
        display: flex;
        flex-direction: column;
    }
    .ui.action.input:not([class*="left action"])>input,.ui.compact.selection.dropdown,.ui.button.ui.inverted.orange.basic {
        border-radius: 5px !important;
        margin-top: 15px;
    }
    #uploadPhotoBtn_1 {
        width: 70px;
    }
    #typeProductSelect {
        width: 125px;
    }
    #textfieldDesc {
        height: 100px;
    }
}


